---
layout: archive
title: "Research activity"
permalink: /research/
author_profile: true
---

{% include base_path %}

<span style="color:red;">Keywords</span>: <i>ATLAS experiment at CERN - particle physics - top quark physics - beyond-the-Standard-Model physics - unfolding methods - cross-section measurements - detector upgrades</i>.

<hr style="height:0.3px;border:none;color:gray;background-color:gray;" />

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}
